.vehicle-type-image {
    position: relative;
    height: 1.1em;
    margin-left: 0.3em;
    top: 6px;
    display: inline-block;
}

.collection {
    border: 0px!important;
    height: 4.2em;
    margin-bottom: 0px;
    margin-top: 0px; 
}

#googleMap {
    width: 100%;
    height: 51.2vh;
}

.brand-logo {
    margin-left: 0.3em;
}

nav {
    position: fixed;
    z-index: 100;
}

.menu-image {
    width: 24px;
    position: relative;
    top: 6px;
    right: 8px;
}

.small-icon {
    width: 16px;
    position: relative;
    top: 2px;
    right: 4px;
}

.fab-image {
    width: 24px;
    position: relative;
    top: 7px;
}

.container {
    padding-top: 84px; 
}

.profile-pic {
    width: 0.8em;
}

#logoutDropdown li{
    padding-top: 3%;
    padding-left: 10%;
    font-weight: 500;
}